.projects {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #4a4b50;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid #4a4b50;
    }

    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid #dcdcdc;
    }

    [data-theme='dark'] & {
      border-bottom: 1px solid #4a4b50;
    }

    [data-theme='light'] & {
      border-bottom: 1px solid #dcdcdc;
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .project {
    &-title {
      font-size: 1rem;
      margin: 5px 0;
    }

    &-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$tablet} {
        margin: -6px 0 4px;
      }
    }

    &-item {
      border-bottom: 1px grey dashed;

      a {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 12px 0;
        text-decoration: none;
      }
    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      @include dimmed;
    }
  }
}