{{ define "main" }}
    <main class="projects">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range .Pages.GroupByDate "2006" }}
            <div class="projects-group">
                <div class="project-year">{{ .Key }}</div>

                <ul class="projects-list">
                    {{ range .Pages }}
                        <li class="project-item">
                            <a href="{{.Permalink}}">
                                <span class="project-title">{{.Title}}</span>
                                <span class="project-day">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2"}}
                                    {{ end }}
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination.html" . }}
    </main>
{{ end }}